/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *




 */
/* line 20, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.menu-brand {
  font-weight: bolder !important;
  color: black !important;
  font-size: 20px !important;
  font-family: Arial Black, Arial Bold, Gadget, sans-serif !important;
}

/* line 27, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.fa-user {
  color: #addb8e !important;
  font-size: 24px !important;
}

/* line 32, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.fa-accusoft {
  color: #addb8e !important;
  font-size: 30px !important;
}

/* line 37, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
input[type="text"], textarea {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

/* line 46, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
input::placeholder {
  color: #a5a5a5 !important;
  font-size: 10px !important;
  font-style: italic;
}

/* line 52, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
textarea::placeholder {
  color: #a5a5a5 !important;
  font-size: 10px !important;
  font-style: italic;
}

/* line 58, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.grey-bg {
  background-color: #f7f7f7 !important;
}

/* line 62, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.beige-bg {
  background-color: #f4f2ef !important;
}

/* line 66, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.navbar-light {
  background-color: white;
  z-index: 1000;
}

/* line 72, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.container-fluid {
  margin-top: -10px;
}

/* line 76, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.jumbotron {
  background-color: transparent !important;
}

/* line 80, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
li .inline-text {
  list-style-type: none;
  display: inline;
}

/* line 85, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
li {
  list-style-type: none;
}

/* line 89, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.container {
  margin-top: 30px;
}

/* line 94, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.dropdown-toggle::after {
  display: none !important;
}

/* line 98, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
.inline-text {
  font-size: 11px;
}

/* line 104, /Users/daddy/Documents/projects/nowmenu/app/assets/stylesheets/application.scss */
a {
  color: black !important;
}
/* direct_uploads.css */


.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

.direct-upload__remove {
  font-size: 0.5em;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}
.asdndzone {
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: rgba(0,0,0,0.1);
  padding-top: 60px;
  text-align: center;
  width: 100%;
  display: inline-block;
}
