<%= render "projects/project_navbar" %>

<div class="container">

  <div class="row text-center">
    <div class="col-md-12">
      <small><%= link_to "exit", project_path(@project), class: "exit-text " %></small>
      <h4 class="font-weight-bold mb-0">Groups</h4>
      <p class="description mb-0">Where each of your items belong to</p>
      <br />
      <%= link_to "new group", new_project_group_path(@project, @group), class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-4 shadow-sm">
        <% if @groups.present? %>
          <%= render "groups" %>
        <% else %>
        <div class=" text-center">
          <h6 class="nothing-yet"> Nothing yet</h6>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>
