<%= render "layouts/navbar" %>

<div class="container pt-5">

  <h4 class="font-weight-bold ">Requests</h4>

  <div class="row">
    <% @requests.each do |request| %>
    <div class="col-md-4">
      <div class="card shadow-sm p-3">
        <li><%= link_to request.full_name, project_request_path(@project, request) %></li>
        <%= truncate(request.message, length: 50) %>
      </div>
    </div>
    <% end %>


  </div>
  <br />
  <br />
  <%= link_to "send request", new_project_request_path(@project, @request), class: "btn btn-sm btn-success" %>
</div>
