
<fieldset>
  <div class="row text-center">
    <div class="col-md-9 card beige-bg p-3 border-0 shadow">
      <%= f.input :name, label: false, placeholder: false, class: "category" %>
    </div>
    <div class="col-md-3">
      <%= f.hidden_field :_destroy %>
      <strong><%= link_to 'x', '#', class: 'remove_fields' %></strong>
    </div>
  </div>
</fieldset>
