<div class="row py-5 text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card p-5">
      <h5 class="text-center">Edit Project</h5>
      <hr>
      <%= render "form" %>
      <br>
      <%= link_to "cancel", project_path(@project), class: "btn btn-light" %>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
