<div class="card mb-1 shadow-sm">
  <div class="card-body m-3 text-center">
    <h5 class="text-center">Edit Project</h5>
    <hr>
    <%= render "form" %>
    <br>
    <%= link_to "cancel", project_path(@project), class: "btn btn-warning" %>
  </div>
</div>
