<div class="jumbotron text-center">
  <h1 class="font-weight-bold">Projects</h1>
  <h6 class="mt-0"><small><%= link_to "add project", new_project_path(@project), class: "btn btn-outline-secondary btn-sm" %></small></h6>
  <br />
  <br />
  <div class="row">
    <% @projects.each do |project| %>
    <div class="col-md-4 col-sm-6">
      <%= link_to project_path(project) do %>
        <div class="card shadow-lg">
            <div class="card-body">
              <h5 class="font-weight-bold">  <%= project.name %></h5>
            </div>
        </div>
        <br />
      <% end %>
    </div>
    <% end %>
  </div>
</div>
