<%= render "layouts/navbar" %>

<div class="col-md-12">
  <small><%= link_to "exit", project_path(@project), class: "exit-text" %></small>
  <br />
  <p class="page-title"><%= @project.name %></p>
  <small>latest activity for project </small>
</div>
<br />

<div class="col-md-8">

    <% if @activities.present? %>
      <%= render_activities @activities %>
    <% end %>

</div>
<div class="col-md-4"></div>
