<%= render "layouts/navbar" %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card py-4 px-5" >
      <div class="text-center">
        <small><%= link_to "exit", project_path(@project), class: "exit-text" %></small>
        <br />
        <br />
        <p class="page-title">latest activity for project <%= @project.name %></p>
      </div>
      <br />
      <br />
      <% if @activities.present? %>
        <%= render_activities @activities %>
      <% end %>
    </div>
  </div>
  <br />
</div>
