<div class="card mb-1 shadow-sm">
    <div class="card-body p-5 mx-5">
        <h5 class="text-center">Create Project</h5>
        <hr>
        <%= render "form" %>
        <br>
        <%= link_to "cancel", projects_path(@projects), class: "btn btn-warning" %>
    </div>
</div>
