<%= render "layouts/navbar" %>

<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-8">

        <p class="home-title">LiveMenu</p>
        <p class="home-description" >
          You spent days creating the most authentic dish you could think of.  Everyone you know tells you that the food is incredible. It goes to the menu and up for service this week.
          That night was so busy, but overall it went well. Few days later you look up Yelp to see the latest feedback about the restaurant.
        </p>
      </div>

    </div>

    <hr class="my-4">

    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <% if user_signed_in? %>
      <%= link_to "see your projects", projects_path, class: "btn btn-success"  %>
    <% else %>
      <%= link_to "login", new_user_session_path, class: "btn btn-outline-secondary"  %>
    <% end %>
  </div>
</div>



<%= render "layouts/footer" %>
