<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">

        <h1 class="display-4">LiveMenu</h1>
        <p class="lead">
              You spent days creating the most authentic dish you could think of.  Everyone you know tells you that the food is incredible. It goes to the menu and up for service this week.

              That night was so busy, but overall it went well. Few days later you look up Yelp to see the latest feedback about the restaurant.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag "cook", class: "img-fluid" %>
      </div>
    </div>

    <hr class="my-4">

    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= link_to "get started", projects_path, class: "btn btn-outline-secondary btn-lg"  %>
  </div>
</div>

<!-- <div class="jumbotron">
  <div class="row landing">
    <div class="col-md-6">
      <h1 class="font-weight-bold">LiveMenu</h1>
      <p class="">
        <%= link_to "projects", projects_path %>
        Consider the following scenario:

        You spent days creating the most authentic dish you could think of.  Everyone you know tells you that the food is incredible. It goes to the menu and up for service this week.

        That night was so busy, but overall it went well. Few days later you look up Yelp to see the latest feedback about the restaurant.

        And to your surprise, there are one or two reviews that go along the line of “the food sucks . . . . the service was terrible . . . we had to wait for an hour just to get the appetizers . . . “

        And now you’re wondering, who are these people? You remember talking to customers that night, as you always do, and they gave you nothing but praise about the service, the restaurant including your new creation. So WTF?

        This type of stories happen all the time. Anyone can put up review to any type of business without having to set foot there.

        Here comes live menu to the rescue. Where you can set invitation on who’s allowed to rate your business. This is a controlled reviews system. But if you think of it, would you rather focus on the people on your side OR trying to please the haters?

        Because at the end of the day, you can’t make everyone happy.
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "cook", class: "img-fluid" %>
      Features

  invitation based system, only “verified” people are allowed to rate  the restaurant
  you get to set which categories others can review, each is an actionable data point
  aggregate data that can be used as predictions and reveal trends
  know exactly where your strengths  and weaknesses
  simple and intuitive layout, easy to navigate

    </div>
  </div>
</div> -->
