<div class="row mt-3">
  <% @items.each do |item| %>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div data-target="filter.filterable" data-filter-key='<%= "#{item.title} #{item.content}".downcase %>'>
        <% cache item do %>
          <%= link_to project_item_path(@project, item) do %>
            <div class="card border-0 shadow-sm p-3 m-2 h-100">
                <p class="font-weight-bold"><%= truncate(item.title, length: 20) %></p>
                <small><%= truncate(item.content, length: 45) %></small>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
  <% end %>
</div>
