<div class="row py-5 text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card p-5">
      <h6 class="text-center">create item</h6>
      <br />
      <%= render "form" %>
      <br />
      <%= link_to "cancel", project_path(@project), class: "btn btn-light" %>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
