/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

.item-title {
  font-size: 14px!important;
  font-weight: bold!important;
}

 i {
   margin-right: 2px!important;
 }

.title {
  color: #515151!important;
}

.content {
  font-size: 13px!important;
  font-weight: lighter!important;
}

.description {
  font-size: 11px!important;
  font-weight: lighter!important;
}

.nothing-yet {
  color: #dbdbdb!important;
}

.exit-text {
  color: #ff7c3a!important;
  font-weight: 500!important;
}



 .menu-brand {
   font-weight: bolder!important;
   color: black!important;
   font-size: 20px!important;

   font-family: 'Charm', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
 }

 .fa-user  {
   color: #addb8e!important;
   font-size: 24px!important;
 }

 .fa-accusoft {
   color: #addb8e!important;
   font-size: 30px!important;
 }

input[type="text"], textarea {
   outline: none!important;
   box-shadow:none !important;
   border:1px solid #ccc!important;
   background-color : #efefef!important;
   font-size: 15px!important;
   font-weight: 600!important;
    // border-top: none!important;
    // border-left: none!important;
    // border-right: none!important;
 }

input::placeholder {
   color: #a5a5a5!important;
   font-size: 10px!important;
   font-style: italic;
 }

 textarea::placeholder {
   color: #a5a5a5!important;
   font-size: 10px!important;
   font-style: italic;
 }

 .grey-bg {
   background-color: #f7f7f7!important;
 }

 .beige-bg {
   background-color: #fffcf7!important;
 }

 .navbar-light {
   background-color: white;
   z-index: 1000;
 }


.container-fluid {
  margin-top: -10px;
}

.jumbotron {
  background-color: transparent!important;
}

 li .inline-text {
    list-style-type: none;
    display: inline;
  }

  li {
    list-style-type: none;
  }

  .container {
    margin-top: 30px;
  }


.dropdown-toggle::after {
  display:none!important;
}

.inline-text {
  font-size: 11px;
}



a {
  color: black!important;
}
