/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 *= require select2Buttons
 *= require input
 *= require_tree .
 *= require_self
 *= require toastr

 */

 @import 'animate';
 @import 'mobile';
 @import 'desktop';
 @import "bootstrap";

 //enlarge image
 #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



 .pill {
   padding: 3px;
   background-color: #f4dec1;
   border-radius: 5px;

   margin-right: 4px;
 }

 .icon-image {
   height: 50px!important;
   width: 50px!important;
   text-align: center!important;
 }

 .link-to {
    color: #4391e0!important;
 }

.paddy {
  margin-bottom: 5px;
  margin-top: 5px;
}


.hidden-input {
  display: none!important;
}

 .slide {
   display: none;
 }

 .slide.slide--current {
   display: block;
 }

 editable--hidden {
  display: none;
  opacity: 0;
}

 //no content yet
.skeleton {
  background-repeat: no-repeat;
  background-image:
    /* layer 2: avatar */
    /* white circle with 16px radius */
    radial-gradient(circle 16px, white 99%, transparent 0),
    /* layer 1: title */
    /* white rectangle with 40px height */
    linear-gradient(white 40px, transparent 0),
    /* layer 0: card bg */
    /* gray rectangle that covers whole element */
    linear-gradient(gray 100%, transparent 0);
}

 ul.history li {
   display: inline;
   list-style-type: none;
   padding-right: 1em;
 }

 .filter-size {
   height:35px;
   font-size:14pt;
 }

 .filter--notFound {
   display: none;
 }

 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding-bottom: 20px;
   padding-top: 30px;
}

.btn-success {
  color: white!important;
  background-color: #49a83c!important;
}

.home-description {
  font-size: 24px;
  font-weight: lighter;
}

.home-title {
  font-size: 40px;
  font-weight: bold;
}

.checkbox {
  margin-left: 10px!important;
  margin-right: 3px!important;

}



i {
  margin-right: 2px!important;
}

.title {
  color: #515151!important;
}

.content {
  font-size: 16px!important;
  font-weight: lighter!important;
}

.description {
  font-size: 14px!important;
  font-weight: lighter!important;
}

.nothing-yet {
  color: #dbdbdb!important;
}

.exit-text {
  color: #ff7c3a!important;
  font-weight: 500!important;
}




 .grey-bg {
   background-color: #f7f7f7!important;
 }

 .beige-bg {
   background-color: #fffcf7!important;
 }

 .navbar-light {
   background-color: white;
   z-index: 1000;
 }



body {
  // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
  // line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)))!important;
}

.jumbotron {
  background-color: transparent!important;
}

 li .inline-text {
    list-style-type: none;
    display: inline!important;
    font-size: 11px;
  }

  li {
    list-style-type: none;
  }

  .container {
    margin-top: 10px;
    
  }

.dropdown-toggle::after {
  display:none!important;
}


a {
  color: black!important;
}

 a:hover {
  text-decoration: none!important;
}
