/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 *= require select2Buttons
 *= require_tree .
 *= require_self
 *= require toastr

 */

 //no content yet
.skeleton {
  background-repeat: no-repeat;
  background-image:
    /* layer 2: avatar */
    /* white circle with 16px radius */
    radial-gradient(circle 16px, white 99%, transparent 0),
    /* layer 1: title */
    /* white rectangle with 40px height */
    linear-gradient(white 40px, transparent 0),
    /* layer 0: card bg */
    /* gray rectangle that covers whole element */
    linear-gradient(gray 100%, transparent 0);
}

 ul.history li {
   display: inline;
   list-style-type: none;
   padding-right: 1em;
 }

 .filter-size {
   height:35px;
   font-size:14pt;
 }

 .filter--notFound {
   display: none;
 }

 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding-bottom: 20px;
   padding-top: 30px;
}

.btn-success {
  color: white!important;
  background-color: #49a83c!important;
}

.home-description {
  font-size: 24px;
  font-weight: lighter;
}

.home-title {
  font-size: 40px;
  font-weight: bold;
}

.checkbox {
  margin-left: 10px!important;
  margin-right: 3px!important;

}
 .nav.navbar-nav {
	display: flex!important;
	justify-content: center!important;
	flex-wrap: wrap!important;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: none!important;
	}
}

.navbar-menu {
  font-size: 12px!important;
  font-weight: bold!important;
  color: #636363!important;
}

.item-title {
  font-size: 14px!important;
  font-weight: bold!important;
  color: #636363!important;
}

 i {
   margin-right: 2px!important;
 }

.title {
  color: #515151!important;
}

.content {
  font-size: 16px!important;
  font-weight: lighter!important;
}

.description {
  font-size: 14px!important;
  font-weight: lighter!important;
}

.nothing-yet {
  color: #dbdbdb!important;
}

.exit-text {
  color: #ff7c3a!important;
  font-weight: 500!important;
}


 .menu-brand {
   font-weight: bolder!important;
   color: black!important;
   font-size: 14px!important;
 }

.fa-user-circle {
  font-size: 24px!important;
}

 .fa-layer-group {
   color: #636363!important;
   font-size: 14px!important;
 }

 .fa-user  {
   color: #addb8e!important;
   font-size: 24px!important;

 }

 .fa-accusoft {
   color: #addb8e!important;
   font-size: 30px!important;

 }

input[type="text"], textarea {
   outline: none!important;
   box-shadow:none !important;
   border:1px solid #ccc!important;
   background-color : #efefef!important;
   font-size: 15px!important;
   font-weight: 600!important;
    // border-top: none!important;
    // border-left: none!important;
    // border-right: none!important;
 }

input::placeholder {
   color: #a5a5a5!important;
   font-size: 10px!important;
   font-style: italic;
 }

 textarea::placeholder {
   color: #a5a5a5!important;
   font-size: 10px!important;
   font-style: italic;
 }

 .grey-bg {
   background-color: #f7f7f7!important;
 }

 .beige-bg {
   background-color: #fffcf7;
 }

 .navbar-light {
   background-color: white;
   z-index: 1000;
 }


.container {

}

html, body {
  padding-bottom: 50px!important;
}

body {
  // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
  // line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)))!important;
}

.jumbotron {
  background-color: transparent!important;
}

 li .inline-text {
    list-style-type: none;
    display: inline;
  }

  li {
    list-style-type: none;
  }

  .container {
    margin-top: 10px;

  }


.dropdown-toggle::after {
  display:none!important;
}

.inline-text {
  font-size: 11px;
}

a:hover{
    text-decoration: none!important;
}

a {
  color: black!important;
}
