<% @categories.each do |category| %>
  <% cache category do %>
    <div data-controller="delete">
        <div class="row">
          <div class="col-md-9 col-12">
            <h6 class="font-weight-bold mb-0"><%= category.name %></h6>
            <small><%= category.description %></small>
          </div>
          <div class="col-md-3">
            <small class=" mb-0"><i class="fas fa-pencil-alt"></i><%= link_to "edit", edit_project_category_path(@project, category) %></small>
            <br />
            <small class="mb-0"><i class="fa fa-trash"></i> <%= link_to "  delete", project_category_path(@project, category), method: :delete, remote: true, data: { target: "delete.link", action: "ajax:beforeSend->delete#click" } %></small>
          </div>
        </div>
    </div>
  <% end %>
  <br />
<% end %>
