<%= render "projects/project_navbar" %>

<div class="container pt-5">

  <div class="text-center">
    <small><%= link_to "exit", project_path(@project), class: "exit-text" %></small>
    <h4 class="font-weight-bold">Categories</h4>
    <small class="form-text text-muted">
      These categories will be part of every review for each item
    </small>
    <br />
    <%= link_to "add category", new_project_category_path(@project, @category), class: "btn btn-outline-secondary btn-sm" %>
  </div>
  <br />

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% if @categories.present? %>
        <%= render "categories" %>
      <% else %>
        <h1> Nothing here </h1>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
