<div class="field">

  <div class="row">
    <div class="col-md-12">
      <div class="float-left">
        <h6 class="font-weight-bold"><%= field.name %></h6>
        <small><%= field.description %></small>

      </div>
      <div class="float-right">
        <% @review.properties.each do |key, value| %>
          <div id="star-rating" data-score= "<%= value %>" ></div>
        <% end %>
      </div>
    </div>
  </div>



  <script>
    $('#star-rating').raty({
      path: '/assets/',
      readOnly: false,
      score: function() {
        return $(this).attr('data-score');
      }
    });
    $('.star-rating').raty('reload')
  </script>
</div>
