<div class="field">
    <div id="star-rating_<%= field.name %>"> <%= f.label field.name %></div>
    <script>
        $("#star-rating_<%= field.name %>").each(function() {
            $(this).raty({
                path: '/assets/',
                scoreName: 'review[properties[<%= field.name %>]',
                score: 'review[properties]'
            });
        });
    </script> 
</div>



