<div class="row py-5 text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card p-5">
      <h6>Edit review</h6>
      <hr />
      <%= render "form" %>
      <br>
      <%= link_to "cancel", project_item_review_path(@project, @item, @review), class: "btn btn-light"%>
    </div>
  </div>
</div>
