<div class="card mb-1 shadow-sm">
  <div class="card-body m-3 text-center">
    <h6>Edit review</h6>
    <hr />
    <%= render "form" %>
    <br>
    <%= link_to "cancel", project_item_review_path(@project, @item, @review), class: "btn btn-light"%>
  </div>
</div>
