<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card p-5">
            <h6>Edit review</h6>
            <%= render "form" %>
        </div>
    </div>
</div>