<div class="container">
  <div class="footer beige-bg">
    <div class="row">
      <div class="col-md-4">

        <p class="description">Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
      </div>
      <div class="col-md-4">
        <p class="description">Posted by: Hege Refsnes</p>
        
      </div>
      <div class="col-md-4">
        <p class="description">Posted by: Hege Refsnes</p>

      </div>
  </div>
</div>
