<nav class="uk-navbar-container uk-container" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">NowMenu</a></li>
        </ul>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
             <% if user_signed_in? %>
              <li>
                <a href="#"><%= current_user.email %></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        
                        <li><a href="#"><%= link_to "logout", destroy_user_session_path, class:"btn btn-sm btn-danger outline", method: :delete %></a></li>
                        
                    </ul>
                </div>
            </li>
            
            <% else %>
              <p class="black-link"><%= link_to "sign in", new_user_session_path %></p>
            <% end %>
            
        </ul>

    </div>

</nav>