
<nav class="navbar navbar-expand-xl py-0 shadow-sm navbar-light sticky-top">
  <div class="container">
  <%= link_to "onthefly", home_path, class: "menu-brand navbar-brand" %>

  <div class="mx-auto order-0">
    <% link_to home_path do %>
      <i class="fab fa-accusoft"></i>
    <% end %>

  </div>
  <% if user_signed_in? %>
    <li class="nav-item dropdown">
      <span class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fab fa-accusoft"></i>
      </span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <div class="card p-2 border-0">
          <div class="dropdown-item">
            <small><%= link_to current_user.email, edit_user_registration_path %></small>
          </div>

          <div class="dropdown-item">
            <small><%= link_to "logout", destroy_user_session_path,  method: :delete, data: { confirm: "Are you sure?"} %></small>
          </div>
        </div>
      </div>
    </li>
  <% else %>
      <li class="nav-item"><%= link_to "sign in", new_user_session_path %></li>
  <% end %>
  </div>
</nav>
